running
<a href="{{bingus_info.repository}}" target="_blank">{{bingus_info.name}}</a>
v{{bingus_info.version}}
{{#if perf}}
	<b> - </b>
{{/if}}
{{#each perf}}
	{{#if (eq @key "Rendered")}}
		<span class="tooltipped" title="parsing metadata took {{duration this.parsed}}">parsed meta</span>
		and
		<span class="tooltipped" title="rendering took {{duration this.rendered}}">rendered</span>
		in
		{{duration this.total}}
	{{else if (eq @key "Cached")}}
		retrieved from cache in
		{{duration this}}
	{{else if (eq @key "Fetched")}}
		fetched in
		{{duration this}}
	{{/if}}
{{/each}}
{{#if raw_name}}
	-
	<a href="/posts/{{raw_name}}">view raw</a>
{{/if}}
